// Custom.scss

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

.col-fluid {
  background-color: rgb(9, 11, 13);
  padding: 0;
}
#cont {
  display: flex;
  background-image: url("jumbutron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  height: 60vmax;

}

.main {
    color: whitesmoke;
    font-family: "Tangerine", cursive;
    text-align: center;
    opacity: 0.8;
  }
.carousel-item {
  height: auto;
  overflow: hidden;
}

.d-block {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.carousel-border {
  overflow: hidden;
  background-color: rgb(9, 11, 13);
  border-radius: 10px;
}
.img {
  width: 100px;
  height: 100px;
}
#promo-image {
  max-width: 100%;
  margin: none;
  padding: none;
}
.txt {
  font-family: "Roboto";
    color:whitesmoke; 
    text-align: left; 
    padding-bottom: 3px;
    opacity: 0.6;
}
#card2{
    background-color: rgb(19, 24, 28);
    border: 1px rgb(19, 24, 28);
    color: whitesmoke;
    border-radius:10px;
    height: 100%;
    font-size: 14px;
    width: 100%;
}
.nav-link{
    color:white;
}
*{
  margin: 0;
  padding: 0;
}
body{
  height: 100%;
}